# Print English alphabet letter by letter on each line.
# Useful for keeping bibliography entries in alphabetical order.
# For search within such file, just use vim search, e.g. /Aa
snippet template-eng "Aa .. Zz template"
$0% Aa
% Bb
% Cc
% Dd
% Ee
% Ff
% Gg
% Hh
% Ii
% Jj
% Kk
% Ll
% Mm
% Nn
% Oo
% Pp
% Qq
% Rr
% Ss
% Tt
% Uu
% Vv
% Ww
% Xx
% Yy
% Zz
endsnippet
