snippet im "Inline equation" A
$$1$$0
endsnippet

snippet dm "Block equation" A
$
$1
. $$0
endsnippet

snippet ``` "Code block" A
\`\`\`$1
$2
\`\`\`$0
endsnippet

snippet ts "Subscript" iA
_($1)$0
endsnippet

snippet td "Supscript" iA
^($1)$0
endsnippet
